@layout('layouts.blog')
@section('navbar')
    <div class="container-fluid reg-img">
    </div>
@endsection
@section('custom-writeup')
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text">
                    <h1 style="text-align:center"class="subheading t-align">
                            Foods to Avoid When Trying to Lose Weight

                    </h1>
                    <p>
                            The foods you eat can have a major effect on your weight.

                            Some foods, like full-fat yogurt, coconut oil and eggs, help with weight loss.

                            Other foods, especially processed and refined products, can make you gain weight.

                            Here are a few foods to avoid when you're trying to lose weight.


                    </p>
                    <div class="text mt-3 ">
                    <h2>
                            French Fries and Potato Chips
                    </h2>
                    <img class="align-self-center mr-3" height="300" width="350" src="../asset/img/potato.jpg" alt="Potato Chips">
                    <p>
                            Whole potatoes are healthy and filling, but french fries and potato chips are not. They are very high in calories, and it's easy to eat way too many of them.

                            In observational studies, consuming French fries and potato chips has been linked to weight gain.

                            One study even found that potato chips may contribute to more weight gain per serving than any other food.

                            What's more, baked, roasted or fried potatoes may contain cancer-causing substances called acrylamides. Therefore, it's best to eat plain, boiled potatoes.
                    </p>
                    <strong>Bottom Line:</strong>
                    French fries and potato chips are unhealthy and fattening. On the other hand, whole, boiled potatoes are very healthy and help fill you up.
                    </div>
                    <div class="text mt-3 ">
                    <h2>
                            Sugary Drinks
                    </h2>
                    <img class="align-self-center mr-3" height="300" width="350" src="../asset/img/soda.jpg" alt="Soda image">
                    <p>
                            Sugar-sweetened beverages, like soda, are one of the unhealthiest foods on the planet.

                            They are strongly associated with weight gain and can have disastrous health effects when consumed in excess.
                            
                            Even though sugary drinks contain a lot of calories, your brain doesn't register them like solid food.
                            
                            Liquid sugar calories don't make you feel full, and you won't eat less food to compensate. Instead, you end up adding these calories on top of your normal intake.
                            
                            If you are serious about losing weight, consider giving up sugary drinks completely.
                    </p>
                    <p>
                        <strong>Bottom Line:</strong>Sugary drinks can negatively affect your weight and general health. If weight loss is your goal, 
                        then giving up soda and similar drinks may have a big impact..
                    </p>
                    </div>
                    <div class="text mt-3 ">
                    <h2>
                            White Bread
                    </h2>
                    <img class="align-self-center mr-3" height="350" width="300" src="../asset/img/bread.jpg" alt="Bread">
                    <p>
                            White bread is highly refined and often contains a lot of added sugar.

                            It is high on the glycemic index and can spike your blood sugar levels.
                            
                            One study of 9,267 people found that eating two slices (120 grams) of white bread per day was linked to a 40% greater risk of weight gain and obesity (14).
                            
                            Fortunately, there are many healthy alternatives to conventional wheat bread. One is Ezekiel bread, which is probably the healthiest bread on the market.
                            
                            However, keep in mind that all wheat breads do contain gluten. Some other options include oopsie bread, cornbread and almond flour bread.
                    </p>
                    <p>
                            <strong>Bottom Line:</strong>White bread is made from very fine flour, and can spike your blood sugar levels and lead to overeating. However, there are many other types of bread you can eat.
                    </p>
                    </div>
                    <div class="text mt-3 ">
                    <h2>
                            Candy Bars
                    </h2>
                    <img class="align-self-center mr-3" height="300" width="350" src="../asset/img/candy.jpg" alt="Candy">
                    <p>
                            Candy bars are extremely unhealthy. They pack a lot of added sugar, added oils and refined flour into a small package.

                            Candy bars are high in calories and low in nutrients. An average-sized candy bar covered in chocolate can contain around 200–300 calories, and extra-large bars may contain even more (15).
                            
                            Unfortunately, you can find candy bars everywhere. They are even strategically placed in stores in order to tempt consumers into buying them impulsively.
                            
                            If you are craving a snack, eat a piece of fruit or a handful of nuts instead.

                    </p>
                    <p>
                        <strong>Bottom Line:</strong>
                        Candy bars consist of unhealthy ingredients like sugar, refined flour and added oils. They are high in calories, but not very filling.
                    </p>
                    </div>
                    <div class="text mt-3 ">
                    <h2>
                            Most Fruit Juice
                    </h2>
                    <img class="align-self-center mr-3" height="650" width="600" src="../asset/img/juice.jpg" alt="Abs image">
                    <p>
                            Most fruit juices you find at the supermarket have very little in common with whole fruit.

                            Fruit juices are highly processed and loaded with sugar.

                            In fact, they can contain just as much sugar and calories as soda, if not more .

                            Also, fruit juice usually has no fiber and doesn't require chewing.

                            This means that a glass of orange juice won't have the same effects on fullness as an orange, making it easy to consume large quantities in a short amount of time (17).

                            Stay away from fruit juice and eat whole fruit instead.
                    <p><strong>Bottom Line:</strong>Fruit juice is high in calories and added sugar, but usually contains no fiber. It is best to stick to whole fruit.
                    </p>
                    </div>
                    <div class="text mt-3 ">
                    <h2>
                            Some Types of Alcohol (Especially Beer)
                    </h2>
                    <img class="align-self-center mr-3" height="300" width="380" src="../asset/img/beer.jpg" alt="Abs image">
                    <p>
                            Alcohol provides more calories than carbs and protein, or about 7 calories per gram.

                            However, the evidence for alcohol and weight gain is not clear (19).

                            Drinking alcohol in moderation seems to be fine and is actually linked to reduced weight gain. Heavy drinking, on the other hand, is associated with increased weight gain (20, 21).

                            The type of alcohol also matters. Beer can cause weight gain, but drinking wine in moderation may actually be beneficial.
                    </p>
                    <p><strong>Bottom Line:</strong>If you are trying to lose weight, you may want to consider cutting back on alcohol or skipping it altogether. Wine in small amounts seems to be fine.
                    </div>
                    <h2 style="text-align:center"class="subheading t-align">Conclusion </h2>
                    <p>The worst foods for weight loss are highly processed junk foods. These foods are typically loaded with added sugar, refined wheat and/or added fats.

                            If you're not sure if a food is healthy or unhealthy, read the label. However, watch out for the different names for sugar and misleading health claims.
                            
                            Also, remember to consider the serving sizes. Some healthy foods, like nuts, dried fruit and cheese, are high in calories, and it can be very easy to eat too much.
                            
                            </p>
                        </div>
            </div>
        </div>
    </div>
</div>
            <h2></h2>
@endsection

