@layout('layouts.blog')
@section('navbar')
    <div class="container-fluid reg-img">
    </div>
@endsection
@section('custom-writeup')
<div class="container">
    <div class="row">
        <div class="col-md-12">